extends layout
block content
 .row.banner
 .col-12
 h1= title
 .row
 .col-12.col-lg-8
 p
 | Spotify clone is created to enjoy your best music offline
 | <br /><br />
 | enjoy your uninterepted music without any add,and make your own playlists.